<h1>Create a new landmark:</h1>
  <form action="/figures" method="post">
    <h4>Landmark Name:<input type="text" name="landmark[name]" id="landmark_name"></h4>
    <h4>Year Completed:</h4> <input type="text" name="landmark[year_completed]" id="landmark_year_completed">

    <input type="submit" name="Create New Landmark" value="Create New Landmark">
 </form>
