<h1>Welcome to Sinatra NYC</h1>

<h3>Click <a href='/figures/index'>here</a> for a list of figures</h3>
<h3>Click <a href='/views/landmarks/index'>here</a> for a list of landmarks</h3>
<h3>Click <a href='views/titles/index'>here</a> for list of titles</h3>
